/* Fonts */

@font-face {
	font-family: Inter;
	src: url('../fonts/inter/Inter-Regular.ttf') format('truetype');
}

/* Globals */

/* TODO: Mobile responsive */

:root {
	/* Color palette */
	--black-light: #333;
	--black-lighter: #666;
	--black: #000;
	--blue-dark: #34495e;
	--blue-darker: #2c3e50;
	--blue-light: #0984e3;
	--blue-lighter: #74b9ff;
	--blue: #2980b9;
	--gray-dark: #636e72;
	--gray-darker: #414b4e;
	--gray-light: #7c7c7c;
	--gray-lighter: #a9a9a9;
	--gray: #ddd;
	--green-dark: #27ae60;
	--green-darker: #1abc9c;
	--green: #2ecc71;
	--orange-dark: #df6611;
	--orange-darker: #d35400;
	--orange-light: #f1c40f;
	--orange-lighter: #f1c40f;
	--orange: #e67e22;
	--purple-dark: #8e44ad;
	--purple-darker: #8f22a7;
	--purple-light: #cc76d9;
	--purple-lighter: #ee82ee;
	--purple: #9b59b6;
	--red-dark: #c0392b;
	--red-darker: #b03a2e;
	--red-light: #e74c3c;
	--red-lighter: #f53d29;
	--red: #f00;
	--white-dark: #e6e6e6;
	--white-darker: #d8d8d8;
	--white-light: #f5f5f5;
	--white-lighter: #f8f8f8;
	--white: #fff;
	--yellow-dark: #f1c40f;
	--yellow-darker: #f39c12;
	--yellow-light: #ff6;
	--yellow-lighter: #ffc;
	--yellow: #ff0;

	/* Color aliases */
	--blue-primary: var(--blue);
	--blue-secondary: var(--blue-light);
	--dark-primary: var(--blue-darker);
	--dark-secondary: var(--blue-dark);
	--green-primary: var(--green-dark);
	--green-secondary: var(--green);
	--orange-primary: var(--orange-darker);
	--orange-secondary: var(--orange);
	--purple-primary: var(--purple-dark);
	--purple-secondary: var(--purple);
	--red-primary: var(--red-dark);
	--red-secondary: var(--red-light);
	--yellow-primary: var(--yellow-darker);
	--yellow-secondary: var(--yellow-dark);

	/* Transparent colors */
	--white-dark-transparent: #e6e6e6d0;
	--white-darker-transparent: #d8d8d8f0;
	--white-light-transparent: #f5f5f5d0;
	--white-lighter-transparent: #f8f8f8f0;
	--white-transparent: #fffffff0;

	/* Component specific palette */

	/* > Global */
	--link-color: var(--gray-dark);
	--separator-color: var(--blue-light);
	--shadow-black: #0003;

	/* > Navbar */
	--navbar-bg: var(--white-lighter);

	/* Component specific sizes */

	/* > Global */
	--border-radius-l: 12px;
	--border-radius-m: 6px;
	--border-radius-s: 3px;
	--border-radius-xl: 25px;
	--font-weight-base: normal;
	--h1-font-size: 70px;
	--h2-font-size: 30px;
	--h3-font-size: 16px;
	--max-width-l: 900px;
	--max-width-m: 800px;
	--max-width-s: 650px;
	--max-width-xl: 1200px;
	--max-width-xs: 550px;
	--text-font-size: 16px;
	--text-main-font-size: 18px;

	/* > Navbar */
	--navbar-font-size: 18px;
	--navbar-height-n: -102px;
	--navbar-height: 102px;

	/* > Sections */

	/* > Sections > About */
	--about-avatar-size: 180px;
	--about-image-size: 32px;

	/* > Sections > Projects */
	--projects-image-size: 64px;

	/* Sections background */
	--section-bg-about: url('../img/backgrounds/about.jpg');
	--section-bg-journey: url('../img/backgrounds/journey.jpg');
	--section-bg-skills-knowledge: url('../img/backgrounds/skills-knowledge.jpg');
	--section-bg-projects: url('../img/backgrounds/projects.jpg');
	--section-bg-booking-hobbies: url('../img/backgrounds/booking-hobbies.jpg');

	/* Shortcuts */
	--basic-box-shadow: 5px 5px 5px 2px var(--shadow-black);
}

* {
	font-family: Inter, sans-serif;
}

html {
	/* scroll magic on navbar click */
	scroll-behavior: smooth;
}

body {
	/* fixed navbar space */
	margin: var(--navbar-height) 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-base);
}

/* Standard hx sizes */
h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

/* Common section elements */
section {
	padding: 60px 0;
	margin: var(--navbar-height-n) 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-clip: padding-box;
	background-size: cover;
	border-top: var(--navbar-height) solid transparent;
}

/* Basic links behavior */

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--gray-lighter);
	transition: 0.25s ease-out;
}

/* Navigation */

html,
body {
	background-color: var(--navbar-bg);
}

nav#main-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: var(--navbar-height);
	text-align: center;
	background-color: var(--navbar-bg);
	box-shadow: 15px 15px 10px 1px var(--shadow-black);
}

nav#main-nav ul {
	margin: 0;
	list-style: none;
}

nav#main-nav li:not(:first-child)::before {
	display: inline-block;
	color: var(--separator-color);
	content: '/';
}

nav#main-nav li {
	display: inline-block;
	padding: 20px 0;
}

nav#main-nav a {
	display: inline-block;
	padding: 20px;
	font-size: var(--navbar-font-size);
	color: var(--black);
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

nav#main-nav a:hover {
	color: var(--blue-lighter);
	border-bottom: 1px solid var(--blue-lighter);
	transition: 0.25s ease-out;
}

/* dynamic navbar: current section */
nav#main-nav a.current {
	color: var(--separator-color);
	border-bottom: 1px solid var(--separator-color);
	transition: 0.25s ease-out;
}

/* Section > About */

section#about {
	text-align: center;
	background-image: var(--section-bg-about);
}

section#about h1 {
	margin: 50px 0 20px;
}

section#about h1 .subtitle {
	color: var(--blue-lighter);
}

section#about h2 {
	margin: 10px 0 60px;
	color: var(--white-light);
}

section#about h1 .subtitle::before,
section#about h2 .subtitle::before {
	color: var(--separator-color);
	content: '/ ';
}

section#about img.avatar {
	width: var(--about-avatar-size);
	height: var(--about-avatar-size);
	margin-bottom: 20px;
	border-radius: 50%;
	box-shadow: 4px 4px 10px 2px var(--shadow-black);
}

section#about #description {
	max-width: var(--max-width-xs);
	padding: 10px 20px;
	margin: 20px auto;
	font-size: var(--text-main-font-size);
	background-color: var(--white-light-transparent);
	border-radius: 12px;
	box-shadow: var(--basic-box-shadow);
}

section#about ul#contact {
	margin: 40px auto 0;
	font-size: var(--text-main-font-size);
	list-style: none;
}

section#about ul#contact li:not(:first-child)::before {
	display: inline-block;
	font-size: 40px;
	color: var(--separator-color);
	content: '·';
}

section#about ul#contact li {
	display: inline-block;
}

section#about ul#contact li a img {
	width: var(--about-image-size);
	height: var(--about-image-size);
	margin-bottom: 20px;
	vertical-align: middle;
}

section#about ul#contact li a:hover img {
	opacity: 0.5;
	transition: 0.25s ease-out;
}

/* Section > Journey */

section#journey {
	background-image: var(--section-bg-journey);
}

section#journey .adventure {
	max-width: var(--max-width-s);
	padding: 0;
	margin: 0 auto;
}

section#journey .adventure p.icon {
	position: relative;
	top: 100px;
	left: -120px;
	display: inline-block;
	margin: 0;
	font-size: 64px;
	cursor: default;
}

section#journey .adventure:nth-child(4n - 1) p.icon {
	left: 680px;
}

section#journey .adventure .body {
	position: relative;
	padding: 50px 20px 15px;
	background: var(--white-light-transparent);
	border-radius: var(--border-radius-s);
	box-shadow: var(--basic-box-shadow);
}

section#journey .adventure .body::before {
	position: absolute;
	left: -10px;
	display: block;
	content: '';
	border-right: 20px solid var(--white-light-transparent);
	border-bottom: 20px solid transparent;
	transform: rotate(225deg);
}

section#journey .adventure:nth-child(4n - 1) .body::before {
	left: 640px;
	transform: rotate(45deg);
}

section#journey .adventure h3 {
	position: absolute;
	top: 0;
	left: 20px;
	display: inline-block;
	padding: 4px 8px;
	background: var(--blue-lighter);
	border-radius: var(--border-radius-s);
}

section#journey .adventure:nth-child(4n - 1) h3 {
	right: 20px;
	left: auto;
}

section#journey .adventure h3 .date {
	color: var(--gray-darker);
}

section#journey .adventure h3 .date::after {
	font-weight: bold;
	color: var(--separator-color);
	content: ' /';
}

section#journey .path {
	position: absolute;
	right: 750px;
	display: inline-block;
	height: 75px;
	background-color: var(--black);
	border: 5px solid var(--black);
	box-shadow: var(--basic-box-shadow);
}

/* Section > Skills & knowledge */

section#skills-knowledge {
	background-image: var(--section-bg-skills-knowledge);
}

section#skills-knowledge .category {
	display: grid;
	grid-template-areas:
		'header header'
		'a a';
	max-width: 1200px;
	padding: 20px;
	margin: 0 auto;
}

section#skills-knowledge .category h2 {
	grid-area: header;
	max-width: var(--max-width-m);
	padding: 30px 130px;
	margin: 20px auto;
	font-size: 26px;
	text-align: center;
	background-color: var(--white);
	border-radius: var(--border-radius-xl);
	box-shadow: var(--basic-box-shadow);
}

section#skills-knowledge .category h2 .subtitle {
	color: var(--gray-darker);
}

section#skills-knowledge .category h2 .subtitle::before {
	color: var(--separator-color);
	content: '/ ';
}

section#skills-knowledge .column {
	margin: 0 20px;
}

/* Section > Skills > Progress bars */

section#skills-knowledge .skill {
	box-sizing: content-box;
	display: grid;
	grid-template-columns: 30% 70%;
	width: 99.9%;
	margin: 20px;

	/* box-shadow: var(--basic-box-shadow); */
	color: var(--white);
	background-color: var(--white-light-transparent);
	box-shadow: 0 0 5px 2px var(--shadow-black);
}

section#skills-knowledge .skill .label,
section#skills-knowledge .skill .progress {
	padding: 10px;
}

section#skills-knowledge .skill .progress {
	box-sizing: border-box;
	max-width: 100%;
	text-align: right;
}

/* Section > Skills > Progress bars > Colors */

section#skills-knowledge .skill.skill-blue .label {
	background-color: var(--blue-primary);
}

section#skills-knowledge .skill.skill-blue .progress {
	background-color: var(--blue-secondary);
}

section#skills-knowledge .skill.skill-dark .label {
	background-color: var(--dark-primary);
}

section#skills-knowledge .skill.skill-dark .progress {
	background-color: var(--dark-secondary);
}

section#skills-knowledge .skill.skill-green .label {
	background-color: var(--green-primary);
}

section#skills-knowledge .skill.skill-green .progress {
	background-color: var(--green-secondary);
}

section#skills-knowledge .skill.skill-orange .label {
	background-color: var(--orange-primary);
}

section#skills-knowledge .skill.skill-orange .progress {
	background-color: var(--orange-secondary);
}

section#skills-knowledge .skill.skill-purple .label {
	background-color: var(--purple-primary);
}

section#skills-knowledge .skill.skill-purple .progress {
	background-color: var(--purple-secondary);
}

section#skills-knowledge .skill.skill-red .label {
	background-color: var(--red-primary);
}

section#skills-knowledge .skill.skill-red .progress {
	background-color: var(--red-secondary);
}

section#skills-knowledge .skill.skill-yellow .label {
	background-color: var(--yellow-primary);
}

section#skills-knowledge .skill.skill-yellow .progress {
	background-color: var(--yellow-secondary);
}

/* Section > Skills > Progress bars > Sizes */

section#skills-knowledge .skill.skill-100 .progress {
	width: 100%;
}

section#skills-knowledge .skill.skill-90 .progress {
	width: 90%;
}

section#skills-knowledge .skill.skill-80 .progress {
	width: 80%;
}

section#skills-knowledge .skill.skill-70 .progress {
	width: 70%;
}

section#skills-knowledge .skill.skill-60 .progress {
	width: 60%;
}

section#skills-knowledge .skill.skill-50 .progress {
	width: 50%;
}

section#skills-knowledge .skill.skill-40 .progress {
	width: 40%;
}

section#skills-knowledge .skill.skill-30 .progress {
	width: 30%;
}

section#skills-knowledge .skill.skill-20 .progress {
	width: 20%;
}

section#skills-knowledge .skill.skill-10 .progress {
	width: 10%;
}

section#skills-knowledge .skill.skill-100 .progress::after {
	content: '100%';
}

section#skills-knowledge .skill.skill-90 .progress::after {
	content: '90%';
}

section#skills-knowledge .skill.skill-80 .progress::after {
	content: '80%';
}

section#skills-knowledge .skill.skill-70 .progress::after {
	content: '70%';
}

section#skills-knowledge .skill.skill-60 .progress::after {
	content: '60%';
}

section#skills-knowledge .skill.skill-50 .progress::after {
	content: '50%';
}

section#skills-knowledge .skill.skill-40 .progress::after {
	content: '40%';
}

section#skills-knowledge .skill.skill-30 .progress::after {
	content: '30%';
}

section#skills-knowledge .skill.skill-20 .progress::after {
	content: '20%';
}

section#skills-knowledge .skill.skill-10 .progress::after {
	content: '10%';
}

/* Section > Projects */

section#projects {
	background-image: var(--section-bg-projects);
}

section#projects .project {
	max-width: var(--max-width-l);
	padding: 0;
	margin: 0 auto;
}

section#projects .project:not(:last-child)::after {
	position: relative;
	top: 0;
	left: -90px;
	display: inline-block;
	height: 50px;
	content: '';
	border: 1px solid var(--black);
}

section#projects .project img.icon {
	position: relative;
	top: 100px;
	left: -120px;
	width: var(--projects-image-size);
	height: var(--projects-image-size);
	margin: 0;
}

section#projects .project .body {
	position: relative;
	padding: 20px 15px 45px;
	background: var(--white-light-transparent);
	border-radius: var(--border-radius-s);
	box-shadow: var(--basic-box-shadow);
}

section#projects .project .header h3 {
	display: inline-block;
	padding: 4px 8px;
	margin: 0;
	font-size: var(--text-font-size);
	background: var(--blue-lighter);
	border-radius: var(--border-radius-s);
}

section#projects .project .header h3 .date {
	color: var(--gray-darker);
}

section#projects .project .header h3 .date::after {
	font-weight: bold;
	color: var(--separator-color);
	content: ' ·';
}

section#projects .project ul.tags {
	position: absolute;
	top: 5px;
	right: 20px;
	list-style: none;
}

section#projects .project ul.tags li {
	display: inline-block;
	padding: 3px 5px;
	font-size: 14px;
	color: var(--white);
	background: var(--blue-lighter);
	border-radius: var(--border-radius-s);
}

section#projects .project ul.references {
	position: absolute;
	right: 20px;
	bottom: 5px;
	list-style: none;
}

section#projects .project ul.references li {
	display: inline-block;
}

section#projects .project ul.references li a {
	padding: 10px;
	font-size: 14px;
	color: var(--white-light);
	background: var(--blue-lighter);
	border-radius: 12px;
}

section#projects .project ul.references li a:hover {
	opacity: 0.5;
	transition: 0.25s ease-out;
}

/* Section > Projects > Tags */

section#projects .project ul.tags li.tag-community {
	background: var(--orange-secondary);
}

section#projects .project ul.tags li.tag-lab {
	background: var(--green-secondary);
}

section#projects .project ul.tags li.tag-school {
	background: var(--dark-secondary);
}

section#projects .project ul.tags li.tag-work {
	background: var(--purple-secondary);
}

section#projects .project ul.tags li.tag-community::after {
	content: '📖 Community';
}

section#projects .project ul.tags li.tag-lab::after {
	content: '🔬 Lab';
}

section#projects .project ul.tags li.tag-school::after {
	content: '🎒 School';
}

section#projects .project ul.tags li.tag-work::after {
	content: '💼 Work';
}

/* Section > Booking & Hobbies */

section#booking-hobbies {
	background-image: var(--section-bg-booking-hobbies);
}

section#booking-hobbies .items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	max-width: 1200px;
	margin: 0 auto;
}

section#booking-hobbies .item {
	padding: 20px 15px 10px;
	margin: 20px;
	text-align: center;
	background: var(--white-light-transparent);
	border-radius: var(--border-radius-m);
	box-shadow: var(--basic-box-shadow);
}

section#booking-hobbies .item:last-child:nth-child(3n + 1) {
	grid-column-end: -2;
}

section#booking-hobbies .item h3 {
	display: inline-block;
	padding: 4px 8px;
	font-size: 16px;
	background: var(--blue-lighter);
	border-radius: 3px;
}

section#booking-hobbies .item img {
	width: 220px;
	vertical-align: middle;
	border-radius: 3px;
}

/* Footer */

footer {
	padding: 10px;
	text-align: center;
	background: var(--white-light);
}

footer .heart {
	color: var(--red);
}

footer .elem:not(:last-child)::after {
	font-weight: bold;
	color: var(--separator-color);
	content: ' · ';
}
